/* ウィンドウ幅が767pxまでの場合に適用*/
@media screen and (max-width: 767px) {

    .header {
        width: 250px;
    }

    .right {
        width: 100px;
    }
    
    .footer {
        width: 250px;
    }
}

/* ウィンドウ幅が479pxまでの場合に適用 */
@media screen and (max-width: 479px) {

    .header {
        width: 150px;
    }

    .left {
        float: none; /*要素の浮動化の解除*/
    }
    
    .right {
        width: 150px;
        float: none; /*要素の浮動化の解除*/
    }

    .footer {
        width: 150px;
    }

}